body {
  background-color: #ff6b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  color: white;
}

li {
  list-style: none;
}

.js-clock {
  font-size: xx-large;
  text-shadow: 1px 1px rgb(24, 24, 24);
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: fadeIn 0.5s linear;
}

.js-toDoList {
  margin-left: -40px;
  font-size: 0.9em;
  font-style: oblique;
  font-weight: 700;
  color: white;
}

.js-weather {
  font-weight: 800;
  color: cornsilk;
}

h2 {
  color: #ee5a24;
}
